@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%; /* 1rem = 10px */
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 32rem;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
}

@layer base {
  :root {
    --primary: 255, 104, 66;
    --secondary: 255, 239, 232;
    --black: 21, 29, 36;
    --white: 255, 255, 255;
    --gray-50: 242, 244, 245;
    --gray-100: 218, 221, 225;
    --gray-200: 194, 199, 205;
    --gray-300: 170, 177, 185;
    --gray-400: 148, 156, 165;
    --gray-500: 148, 156, 165;
    --gray-600: 106, 116, 124;
    --gray-700: 87, 95, 103;
    --gray-800: 69, 76, 83;
    --gray-900: 52, 58, 63;
  }
  .dark {
    --primary: 255, 104, 66;
    --secondary: 255, 239, 232;
    --black: 253, 253, 253;
    --white: 21, 29, 36;
    --gray-50: 52, 58, 63;
    --gray-100: 69, 76, 83;
    --gray-200: 87, 95, 103;
    --gray-300: 106, 116, 124;
    --gray-400: 148, 156, 165;
    --gray-500: 148, 156, 165;
    --gray-600: 170, 177, 185;
    --gray-700: 194, 199, 205;
    --gray-800: 218, 221, 225;
    --gray-900: 242, 244, 245;
  }
}

