.swiper {
  width: 100%;
  aspect-ratio: 3/2;
}

.mySwiper1 .swiper-wrapper {
  align-items: center;
}

.mySwiper1 .swiper-slide {
  overflow: hidden;
}
.mySwiper1 .swiper-button-next:after {
  text-shadow: 0 0 4px white;
}
.mySwiper1 .swiper-button-prev:after {
  text-shadow: 0 0 4px white;
}
.mySwiper1 .swiper-pagination-bullet {
  box-shadow: 0 0 3px white;
}
