@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-forward-enter {
    @apply absolute w-full transform translate-x-full;
}
.slide-forward-enter-active {
    @apply transform translate-x-0 transition-transform duration-500 ease-in-out;
}
.slide-forward-exit {
    @apply absolute w-full transform translate-x-0;
}
.slide-forward-exit-active {
    @apply transform -translate-x-full transition-transform duration-500 ease-in-out;
}

.slide-backward-enter {
    @apply absolute w-full transform -translate-x-full;
}
.slide-backward-enter-active {
    @apply transform translate-x-0 transition-transform duration-500 ease-in-out;
}
.slide-backward-exit {
    @apply absolute w-full transform translate-x-0;
}
.slide-backward-exit-active {
    @apply transform translate-x-full transition-transform duration-500 ease-in-out;
}


.slide-up-enter {
    @apply transform translate-y-full opacity-0;
}
.slide-up-enter-active {
    @apply transform translate-y-0 opacity-100 transition-transform transition-opacity duration-500 ease-in-out;
}
.slide-up-exit {
    @apply transform translate-y-0 opacity-100;
}
.slide-up-exit-active {
    @apply transform translate-y-full opacity-0 transition-transform transition-opacity duration-500 ease-in-out;
}



.transition-transform {
    transition: transform 0.3s ease-in-out;
}

.transform {
    transform: translateX(0);
}

.translate-x-0 {
    transform: translateX(0);
}

.-translate-x-full {
    transform: translateX(-100%);
}

.translate-x-full {
    transform: translateX(100%);
}
